<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Welcome to Smart Bar -- Beer and wine without the line!</title>
  
	<!-- Included CSS Files -->
	<!-- Combine and Compress These CSS Files -->
	<link rel="stylesheet" href="stylesheets/globals.css">
	<link rel="stylesheet" href="stylesheets/typography.css">
	<link rel="stylesheet" href="stylesheets/grid.css">
	<link rel="stylesheet" href="stylesheets/ui.css">
	<link rel="stylesheet" href="stylesheets/forms.css">
	<link rel="stylesheet" href="stylesheets/orbit.css">
	<link rel="stylesheet" href="stylesheets/reveal.css">
	<link rel="stylesheet" href="stylesheets/mobile.css">

   <!-- Main Style: Style Overrides -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<!-- End Combine and Compress These CSS Files -->
	<link rel="stylesheet" href="stylesheets/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

<!-- background -->
<div id="background">
   <header class="container dark-foreground bottom-border">	
      <div id="headerWrap" class="row">
         <div id="logo" class="six columns">
            <img src="public/images/smartbar_logo.png" />
         </div>
         <nav class="six columns">
            <a href="#contact" class="last link">Contact</a>
            <a href="#video" class="link large">What is Smartbar?</a>
            <a href="#main" class="first link">Get Smartbar</a>
         </nav>
      </div>
   </header>

   <% yield %>

   <footer class="container dark-foreground top-border">	
      <div id="footerWrap" class="row">
         <nav class="six columns centered">
            <a href="#contact" class="last link">Contact</a>
            <a href="#customers" class="link">Customers</a>
            <a href="#team" class="link">Team</a>
            <a href="#download" class="first link">Download</a>
            <a href="#about" class="first link">About</a>
            <span>&copy; 2011 Smart Bar Apps&trade; - </span>
         </nav>
      </div>
   </footer>


   <div id="contactModal" class="reveal-modal">
      <h2>What can we do for you</h2> 
      <p>Help us determine how Smart Bar can help you and your business succeed and grow!</p>
      <form class="nice">
         <label>Email</label>
         <input type="text" placeholder="Email to contact you at" class="medium input-text" />
         <label>Message</label>
         <textarea style="width: 350px" placeholder="Write whatever you want to talk to us about!" rows="6" cols="50"></textarea>
         <button type="submit" class="button nice small round blue">Send Message</button>
      </form>
   </div>

   
	<!-- end container -->

	<!-- Included JS Files -->
	<!-- Combine and Compress These JS Files -->
	<script src="public/javascripts/jquery.min.js"></script>
	<script src="public/javascripts/jquery.reveal.js"></script>
	<script src="public/javascripts/jquery.orbit-1.3.0.js"></script>
	<script src="public/javascripts/forms.jquery.js"></script>
	<script src="public/javascripts/jquery.customforms.js"></script>
	<script src="public/javascripts/jquery.placeholder.min.js"></script>
	<script src="public/javascripts/jquery.localscroll-min.js"></script>
	<script src="public/javascripts/jquery.scrollTo-min.js"></script>
	<script src="public/javascripts/jquery.placeholder.min.js"></script>
	<!-- End Combine and Compress These JS Files -->
	<script src="public/javascripts/app.js"></script>

   <script>
      /* simple scrolling from http://flesler.blogspot.com/2007/10/jquerylocalscroll-10.html */
      $(document).ready(function() {
         // Set up navigation scrolling
         $.localScroll();

         // attach handlers for contact modal
         $('.contact_modal_btn').click(function() {
            $('#contactModal').reveal({
               animation: 'fade',
               animationspeed: 300,
               closeOnBackgroundClick: true,
               dismissModalClass: 'close-reveal-modal'
            });
         });
      });
   </script>

</body>
</html>
