.logo {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 300px;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
}

.items img{
  margin-left: auto;
  margin-right: auto;
  width: 97px;
  height: 115px;
  display: block;
}

.items h1 {
  text-align: center;
}

#month {
  display: inline-block;
  width: 20%;
}

#year {
  display: inline-block;
  width: 20%;
}

#expFiller {
  display: inline-block;
  width: 20%;
}

.margintop {
  margin-top: 20px;
}

#cc_inputs input {
width: 20%;
display: inline;
}

#orderForm label {
  display:block;
}