.logo {
  background-image: url(logo.png);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 278px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.items img{
  margin-left: auto;
  margin-right: auto;
  width: 97px;
  height: 115px;
  display: block;
}

.items h1 {
  text-align: center;
}

#month {
  display: inline-block;
  width: 20%;
}

#year {
  display: inline-block;
  width: 20%;
}

#expFiller {
  display: inline-block;
  width: 20%;
}

.margintop {
  margin-top: 20px;
}